table {
  width: 50%;
}

thead td:nth-child(1) {
  width: 20%;
  font-weight: 600;
}

thead td:nth-child(2) {
  width: 40%;
  font-weight: 600;
}

thead td:nth-child(3) {
  width: 40%;
  font-weight: 600;
}
