h1 {
  font-size: 1.6em;
  color: #666;
  border-bottom: 1px solid #aaa;
}

.controller {
  padding: 20px 10px;
  position: absolute;
  left: 0;
  top: 75px;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}

.input, .output {
  height: 100%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input img {
  border: 1px solid #999;
}

.output canvas {
  display: none;
  border: 1px solid #999;
}

.channel {
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.channel input[type="number"] {
  width: 50px;
  margin: 0 5px;
  font-size: 1em;
}

.channel input[type="submit"] {
  width: 190px;
  height: 40px;
}
